/* css styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

#quarto-header .navbar-nav .nav-link {
    font-size: 1.5rem;  /* Увеличить размер шрифта */
}

#quarto-header .navbar-brand {
    font-size: 1.5rem;  /* Увеличить размер шрифта для заголовка, если есть */
}


/* эксперименты */

/* эксперименты */

/* Стили для темной темы */
body.dark {
    background-color: #1e1e1e;
    color: #f5f5f5;
}

.dark h1, 
.dark h2, 
.dark h3, 
.dark h4, 
.dark h5, 
.dark h6 {
    color: #ffffff;
}

.dark table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

.dark table, 
.dark th, 
.dark td {
    border: 1px solid #333;
}

.dark th, 
.dark td {
    padding: 12px;
    text-align: left;
}

.dark th {
    background-color: #2c2c2c;
    color: #e2e2e2;
}

.dark tr:nth-child(even) {
    background-color: #2a2a2a;
}

/* Стили для светлой темы */
body.light {
    background-color: #ffffff;
    color: #333333;
}

.light h1, 
.light h2, 
.light h3, 
.light h4, 
.light h5, 
.light h6 {
    color: #333333;
}

.light table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

.light table, 
.light th, 
.light td {
    border: 1px solid #ccc;
}

.light th, 
.light td {
    padding: 12px;
    text-align: left;
}

.light th {
    background-color: #f7f7f7;
    color: #333333;
}

.light tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Общие стили для ссылок */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}